<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Emporium' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= "<h1>#{@page_title}</h1>" if @page_title %>
<%= yield %>

</body>
</html>
